<h1>Welcome</h1>
<div class="row">
	<%= render "groupinvs/search_fields" %>
</div>
<div class="row">
	<div class="small-6 columns">
	</div>
	<div class="small-6 columns">
		<% @groupinvs.each do |groupinv| %>
		    <%= link_to groupinv.full_group, groupinv_path(groupinv) %></br>
		<% end %>
	</div>
</div>
