<h1>Welcome</h1>
	<%= render "groupinvs/search_fields" %>
<div class="row">
	<div class="columns medium-6">
		algo
	</div>
	<div class="columns medium-6">
		<% @groupinvs.each do |groupinv| %>
		    <%= link_to groupinv.full_group, groupinv_path(groupinv) %></br>
		<% end %>
	</div>
</div>
