<h3>Proyectos</h3>
<% @groupinv.proyectos.each do |proyecto| %>
  <%= link_to proyecto.nombre, groupinv_proyecto_path(groupinv: @groupinv, proyecto: proyecto) %>
  <%= "***" if proyecto.groupinv_usuarios.any? %>
  <%= link_to 'Borrar', groupinv_proyecto_path(groupinv: @groupinv, proyecto: proyecto), method: :delete if @groupinv.administrador?(current_user) %></br>
<% end -%>